astroML==0.4.1
astropy==4.2
astroquery==0.4.1
bokeh==2.1.1
colorcet==2.0.2
colorlog==4.1.0
dask[dataframe]==2.30.0
matplotlib==3.2.1
# TODO Update mocpy when they update release
mocpy @ git+https://github.com/cds-astro/mocpy.git
multiprocessing_logging==0.3.1
numexpr==2.7.1
numpy==1.19.2
pandas==1.1.4
pyarrow==2.0.0
radio_beam==0.3.2
scipy==1.4.1
tables==3.6.1
tabulate==0.8.7
vaex==3.0.0
