astroML>=0.4.1,<0.5
astropy<=4.2,!=4.0
astroquery<=0.4.1
bokeh>=2.1.1,<2.2
colorlog<=4.0.2
dask[dataframe]<=2.20.0
matplotlib<=3.1.2
mocpy>=0.8.4
multiprocessing_logging<=0.3.1
numexpr>=2.7.1,<2.8
numpy<=1.17.4
pandas<1.1,>=1.0
pyarrow<=0.17.1
radio_beam>=0.3.1,<0.4
scipy<=1.4.0
tables<=3.6.1
tabulate>=0.8.6,<0.9
